body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-image: url('./decoration/blurry-gradient-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
  
h1 {
  color: #FFFFFF;
  font-size: 3.5em;
}
  
  #favoritesItems {
    margin: 20px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label, input {
    margin: 5px 0;
  }
  
  button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: rgb(37, 37, 37);
    font-size: 1;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(240, 240, 240);
  }

  .custom-shape-divider-top-1713083903 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713083903 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 204px;
}

.custom-shape-divider-top-1713083903 .shape-fill {
    fill: #FFFFFF;
}

#sortOptions {
  font-family: 'Poppins', sans-serif;
  width: 400px; 
  height: 25px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #222222;
  margin-top: -1%;
  margin-bottom: 2%;
}

#sortOptions:focus {
  outline: 2px solid rgba(128, 128, 128, 0.5); /* Ajusta este valor según tus necesidades */
}


  #favoritesItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  
  .item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-name, .item-price, .item-type {
    display: block;
    margin: 0;
  }

  @media (max-width: 768px) {
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
    }
  
    h1 {
      font-size: 2.5em;
      margin-top: -30%;
      text-align: center;
    }
  
    .custom-shape-divider-top-1713083903 svg {
      width: 205%;
      height: 125px;
    }

    #sortOptions {
      width: 80%;
      margin-bottom: 10%;
    }
  }
