#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-image: url('./decoration/blurry-gradient-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
  
h1 {
  color: #FFFFFF;
  font-size: 3.5em;
}
  
#favoritesItems {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input {
  margin: 5px 0;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: rgb(37, 37, 37);
  font-size: 1;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  background-color: rgb(240, 240, 240);
}

.custom-shape-divider-top-1713083903 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713083903 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 204px;
}

.custom-shape-divider-top-1713083903 .shape-fill {
    fill: #FFFFFF;
}

#sortOptions {
  font-family: 'Poppins', sans-serif;
  width: 400px; 
  height: 25px;
  font-size: 0.9em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #222222;
  margin-top: -5%;
  margin-bottom: 5%;
  background-color: #FFFFFF;
}

#sortOptions:focus {
  outline: 2px solid rgba(128, 128, 128, 0.5); /* Ajusta este valor según tus necesidades */
}


#favoriteItems {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-height: 600px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}
  
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Add a white background */
  border-radius: 20px; /* Add rounded borders */
  padding: 20px; /* Add some padding */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 20px; /* Add rounded borders */
}

.item-name, .item-price, .item-type {
  display: block;
  margin: 0;
  color: #222222;
}

.add-to-cart-button {
  background-color: #FF2E82; /* Pink background */
  color: white; /* White text */
  padding: 5px 10px; /* Adjust padding to make the button smaller */
  font-size: 0.9em; /* Adjust font size to make the text smaller */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
    margin-top: -30%;
    text-align: center;
  }

  .custom-shape-divider-top-1713083903 svg {
    width: 205%;
    height: 125px;
  }

  #sortOptions {
    width: 95%;
    height: auto;
    margin-bottom: 5%;
  }

  #mainContainer {
    margin-top: 20%;
  }

  #favoriteItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-height: 500px;
    overflow-y: auto; /* Enable vertical scrolling */
  }
}
