body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

#header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

h1 {
  color: #1a1a1a;
  font-size: 3.5em;
}

.message {
  margin-top: 0px;
  color: #333;
}

body > :first-child {
  margin-top: 115px;
}

img {
  width: 85%; /* Hace que la imagen ocupe el 50% del ancho de la pantalla */
  margin-top: 10%; /* Empuja la imagen hacia abajo un 20% de la altura de la pantalla */
}

#return {
  display: none;
}

@media (max-width: 768px) {

  h1 {
    font-size: 2.5em;
    margin-top: -10%;
    text-align: center;
  }
  
  p {
    font-size: 1.2em;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  img {
    margin-bottom: 10%;
  }
}