#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-image: url('../decoration/blurry-gradient-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

  p {
    color: #FFFFFF;
    font-size: 1.1em;
    text-align: center;
    margin-top: 0%;
  }
  
  h1 {
    color: #FFFFFF;
    font-size: 3.5em;
  }
  
  button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: rgb(37, 37, 37);
    font-size: 1;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(240, 240, 240);
  }

  .custom-shape-divider-top-1713083903 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713083903 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 204px;
}

.custom-shape-divider-top-1713083903 .shape-fill {
    fill: #FFFFFF;
}

#searchInput {
  font-family: 'Poppins', sans-serif;
  width: 400px; /* Ajusta este valor según tus necesidades */
  height: 25px; /* Ajusta este valor según tus necesidades */
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#searchInput:focus {
  outline: 2px solid rgba(128, 128, 128, 0.5); /* Ajusta este valor según tus necesidades */
}

#searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 250px; /* Ajusta este valor según tus necesidades */
  overflow-y: auto;
  margin: 0 auto;
}

#searchForm {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 250px;
}

#blob {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  max-width: 100%; /* Add this line */
  max-height: 100%; /* Add this line */
}

#videoElement {
  position: fixed; /* Posiciona el video en el centro de la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegura que el video esté encima de todo */
  width: 300px; /* Ajusta el ancho del video */
  height: 300px; /* Ajusta la altura del video */
  border: 2px solid white; /* Añade un borde blanco alrededor del video */
  border-radius: 0; /* Hace que el video tenga forma cuadrada */
  object-fit: fill; /* Hace que el video ocupe todo el recuadro */
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
    margin-top: -15%;
    text-align: center;
  }

  #searchInput {
    width: 100%;
    margin-top: 0%;
  }

  .custom-shape-divider-top-1713083903 svg {
    width: 205%;
    height: 125px;
  }
}